{erl_opts, [debug_info]}.
{deps, [
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}}
]}.

{relx, [{release, { wechat, "0.1.0" },
         [wechat,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{profiles, [
           {test, [{deps, [
                          {meck, ".*",
                           {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
                          ]}
                  ]}
           ]
}.
