{erl_opts, [debug_info]}.
{deps, [
    {gun, ".*", {git, "https://github.com/extend/gun.git", {branch, master}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, master}}}
]}.

{relx, [{release, { wechat, "0.1.0" },
         [wechat,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
